@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <input class="mb-2 border-2" type="text" name="name" id="MdUuid" placeholder="MdUuid" /><br />
    <input class="mb-2 border-2" type="text" name="name" id="codAlumno" placeholder="Codigo del alumno" minlength="1" /><br />
    <input class="mb-2 border-2" type="text" name="name" id="NotaEv" placeholder="Nota evaluacion" maxlength="1" /><br />
    <input class="mb-2 border-2" type="text" name="name" id="CodEva" placeholder="Codigo de la evaluacion" maxlength="2" /><br />
    <button class="btn btn-dark border-2 text-light" type="submit"> Añadir registros </button>
</form>
<div>
    <h1>Como añadir las evaluaciones</h1>
    <p style="color: red">Alerta esta limitad a dos caracteres para que solo se puedan usar estos parametros</p>
    <p>Primera ev = PR</p>
    <p>Segunda ev = SG</p>
    <p>tercera ev = TC</p>
</div>
